.main-link, .marked-date {
	background-color: blue;
	color: white;
}

.white-sec *{
	color: white;
}

footer>a, .title1 {
	color: blue;
}

#aside-sec ul {
	width: 200px;
	margin: auto;
}

#aside-sec li {
	float: left;
	margin: 0 10px 15px 0;
	list-style: none;
}


#first-sec ul {
	width: 1100px;
	list-style: none;
	overflow: hidden;
	margin: auto;
}

#aside-sec {
	background: #e3e3e3;
}


#first-sec li {
	width:300px;
	height: 180px;
	margin: 20px 20px 15px 0;
	float: left;
	padding: 20px;
}

#first-sec li>a {
	position: relative;
	top: 60px;
}

#top-sec {
	background: yellow;
}

#article-1 {
	background: pink;
}

#article-2 {
	background: green;
}

#article-3 {
	background: orange;
}



#top-sec>nav {
	float: left;
	background: red;
	width: 700px;
}

#top-sec>form {
	float:left;
	width:300px;
}
body {
	background-repeat: no-repeat;
	background-position: y-50px
}
