body {
	font-family: "Open Sans", Georgia, Serif;
	font-size: 100%;
	font-weight: 500;
}

* {
	margin: 0 0;
}
/** {*/
	/*margin-top: 0;*/
/*}*/

a {
	text-decoration: none;
}

html {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.bg {
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 100%;
}

a:hover {
	text-decoration: underline;
}

.padding {
	width: 960px;
	margin: 0 auto;
}

.main-nav>a {
	display: inline-block;
}

#bottom-right {
	position: relative;
    width:230px;
	height: 320px;
    /*float: left;*/
	display: inline-block;
	padding: 0 20px 0 20px;
	position: relative;
	text-align: center;
	background: rgba(255,255,255,0.3);
}

#bottom-right p {
	text-align: left;
	border-bottom-style: solid;
	border-bottom-color: rgba(255,255,255,0.4);
	border-bottom-width: 1px;
	padding-bottom: 20px;
}

#bottom-right button {
	font-size: 0.7rem;
	height: 24px;
	width: 60px;
	background-color: #3398CB;
	border: none;
	position:relative;
	top: -2px;
}

#first-sec li {
	position: relative;
	width:290px;
	height: 160px;
	margin: 10px 30px 10px 0;
	/*float: left;*/
    display: inline-block;
	padding: 10px 15px 0 20px;

	border-radius: 10px;
	vertical-align: top;
}

#first-sec li:last-child {
	margin-right: 0;
}

.main-link {
	font-size: 1rem;
	border-radius: 5px;
	padding: 10px 10px 8px 10px;
	display: block;
	width: 180px;
	height:20px;
	position: absolute;
	text-align: left;
}

.main-link>img{
	position: absolute;
	right: 10px;
	top: 12px;
}

.main-link {
	background-color: blue;
	color: white;
	height: auto;
	width: 220px;
}

.marked-date {
    display: inline-block;
	float: left;
    background-color: #3398CB;
    text-align: center;
    line-height: 180%;
	height: 80px;
	width: 64px;
	/*padding-bottom: 10px;*/
	margin-right: 10px;
	/*padding: 0 10px;*/
	/*todo: margin collapse*/
}

.day {
	font-size: 3rem;
    border-bottom-color: white;
    border-bottom-style: dotted;
    border-bottom-width: 1px;
	line-height: 50px;
	padding: 0 3px;
	display: inline-block;
	text-align: center;
}

/*.month {*/
	/*display:inline-block;*/
/*}*/

h1,
h2 {
	font-weight: inherit;
}

.white-sec * {
	color: white;
}

#first-sec {
	background-image: url("../img/slider/custom-experience.jpg");
	height: 500px;
}

#second-sec {
	background: url("../img/backgrounds/solutions-bg.png") dodgerblue;
	height: 460px;
	/*box-sizing: border-box;*/
	/*margin: auto;*/
}

#second-sec h2 {
	padding-top: 30px;
    text-align: center;
}

#second-sec .main-link {
    display: inline-block;
	text-align: center;
	margin-top: 50px;
}


#third-sec {
	background-image: url(../img/backgrounds/news-and-events-bg.jpg);
	height: 350px;
}

#third-sec a {
	position: absolute;
	margin-top: 110px;
}

#third-sec p {
	display: inline-block;
	width: 270px;
	height: 100px;
	background-color: rgba(255,255,255,0.4);
	position: absolute;
	padding: 10px;
	color: black;
	font-size: 0.8rem;
}

#third-sec p:hover {
	background-color: whitesmoke;
}

#third-sec .wrapper {
	display: inline-block;

}

#third-sec li {
	display: inline-block;
	width: 300px;
}

#third-sec h2 {
	text-align: center;
	padding-top: 50px;
	padding-bottom: 40px;
}


#second-sec .padding {
    text-align: center;
}

.main-nav {
    display: inline-block;
}

#social-imgs {
	position: absolute;
	bottom: 5px;

}


.title1 {
	color: #4882A0;
	font-weight: 600;
	display: inline-block;
	padding: 20px 0;
}

#aside-sec footer>h3{
	color: blue;
}

#aside-sec footer+img {
	position: absolute;
}

/*#aside-sec ul {*/
	/*width: 200px;*/
	/*margin: auto;*/
/*}*/

#aside-sec article {
	display: inline-block;
	padding: 10px;
	width: 400px;
	background-color: white;
}

#aside-sec footer {
	display: inline-block;
}

.story img {
	display: inline-block;
	float: left;
	position: absolute;
}

.story {
	height: 100px;
}


li {
	list-style: none;
}

#first-sec h1,
#first-sec p,
#first-sec ul,
.main-link {
	position: relative;
	/*left: 100px;*/
}

.sec-title {
	font-size: 2rem;
}

#first-sec h1 {
	padding-top: 25px;
	margin-bottom: 0px;
}

#first-sec p {
	padding-top: 10px;
}

#first-sec .main-link {
	margin-top:30px;
}

#first-sec ul {
	/*width: 1100px;*/
	list-style: none;
	overflow: hidden;
	margin-top: 60px;
}

#submit {
    margin-top: 15px;
	display: inline-block;
    /*width: 160px;*/
	border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    overflow: hidden;
}

#submit>input,
#submit>button {
    border-style: hidden;
    padding-left: 4px;
    height: 22px;
    padding-top: 0;
    padding-bottom: 0;
}

#aside-sec {
	background: #e3e3e3;
	color:grey;
}

#third-sec dd {
	font-size: 1.4rem;
}

#first-sec li>a {
	position: absolute;
	bottom: 10px;
}

#top-sec {
	background: grey;
}

#top-sec>div>div{
	/*width:1000px;*/
	height: 80px;
	/*margin: auto;*/
	padding: 10px;
}

ul {
	padding: 0;
}

#article-1 {
	background: rgba(250,66,158,0.8);
}

#article-1:hover {
	background: rgb(250, 66, 158)
}

#article-2 {
	background: rgba(104,66,158,0.8);
}

#article-2:hover {
	background: rgb(104, 192, 56);
}

#article-3 {
	background: rgba(225, 116, 20, 0.8);
}

#article-3:hover {
	background: rgb(225, 116, 20);
}

#top-sec nav {
    padding: 50px 20px 0px 50px;
    float: left;
}

#top-sec nav>a {
    font-size: 0.8rem;
    margin-left: 10px;
	padding-right: 10px;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: black;
	color:black;
}

#top-sec nav>a:last-child {
	border-right-width: 0px;
	padding-right: 0px;
}

#top-sec nav>a:first-child {
    font-size: 0.8rem;
    margin-left: 0;
}

#top-sec form {
	float:left;
	width:200px;
}
#top-sec .padding>a{
    display: inline-block;
    float: left;
}

#top-sec label {
	margin-left: 2px;
}

#top-sec input {
	width:140px;
	float: left;
	/*margin-top: 27px;*/
	/*border-radius: 5px;*/
}

.news-image:hover {
	content: url("../img/events/eventListIconNews_hover.png");
}

.events-image:hover {
	content: url("../img/events/eventListIconEvents_hover.png")
}


#bottom {
	position: relative;
	background: #222222;
	height: 320px;
}

#bottom dl {
	float: left;
    margin-right: 40px;
	padding: 20px 0;
}

#bottom-right input {
	width: 120px;
	border: none;
	height: 24px;
	/*ask alex about avoiding space without changing tags structure*/
}

#copy{
	position: absolute;
	bottom: 10px;
}

#bottom dd {
	padding-bottom: 15px;
}

.right {
	float: right;
}

#bottom-date {
	display: inline-block;
	width: 40px;
	text-align: center;
	vertical-align: top;
	float: left;
	margin-right: 10px;
	font-size: 1.4rem;
	font-weight: 500;
	/*line-height: 20px;*/
}

#bottom-day {
	font-size: 2.2rem;
	line-height: 30px;
	font-weight: 700;
}

